<launch>

	<arg name="topic" default="/head_xtion/depth/points" />
	<arg name="visualize_output" default="true" />
	<arg name="do_segmentation" default="true" />


	<!-- classifier demo -->
	<node pkg="object_classifier" type="object_classifier_demo_node" name="classifier_demo" output="screen">
		<param name="topic" value="$(arg topic)" type="string"/>
		<param name="visualize_output" value="$(arg visualize_output)" type="bool"/>
		<param name="do_segmentation" value="$(arg do_segmentation)" type="bool"/>
	</node>
</launch>
